* {
    margin: 0 auto;
}

/* element "header" contains block of class "header_txt_left", photo & address */

header {
    width: 940px;
    height: 180px;
    border: solid black;
    overflow: hidden
}

/*beginning block of class "header_txt_left"*/

.header_txt_left {
    float: left;
}


/*class "header_txt_left" contains txt*/

.iryna_txt {
    margin-left: 200px;
/*        float: left;*/
}

.description_txt {
    width: 300px;
    margin-left: 200px;
/*        float: left;*/
}


/*end of class "header_txt_left"*/

.photo {
/*        margin-top: 25px;*/
    width: 100px;
    height: 200px;
    background-image: url('../img/photo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
       float: left;
}

.address_txt {
    float: left;
    width: 170px;
}


/* element "section" contains block of class "employment_block" */

/*
.employment_block {
    background-color: #aca29a;
    border: solid;
    border-color: blue;
    width: 940px;
    height: 280px;
}
*/
