* {
    margin: 0;
    padding: 0;
}
.cv {
    width: 960px;
    margin: 0 auto;
}
header {
    width: 940px;
    height: 180px;
    border: solid;
    border-color: black;
}
.iryna {
    display: block
       margin-top: 40px;
    margin-left: 300px;
}
.description {
    display: block
       margin-top: 74px;
    margin-left: 300px;
    width: 240px;
}
.photo {
    margin-top: 32px;
    margin-left: 620px;
    
}
.adres {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 40px;
    width: 170px;
    
}
.employment {
    background-color: #aca29a;
    border: solid;
    border-color: blue;
    width: 940px;
    height: 280px;
    
}


